@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 360px;
  height: 100vh;
  margin: 0 auto;
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .text-balance {
    text-wrap: balance;
  }

  .headline-large {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
  }

  .headline-medium {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
  }

  .headline-small {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .title-large {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
  }

  .title-medium {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .title-small {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .label-large {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .label-medium {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }

  .label-small {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  .body-large {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .body-medium {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  .body-small {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
  .caption-small {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
}
